<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../../images/img5.png"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registro.css">
    <title>Formulario Registro</title>
</head>
<body>
    <section class="form-register">
        <h4>Portales</h4>
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
        <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
        <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
        <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
        <p> Acepto <a href="#">Terminos y Condiciones</a></p>
        <input class="botons" type="submit" onclick=" location.href='config.html' "  value="Acceder" >
        <p><a href="#">¿Olvidaste tu contraseña?</a></p>
      </section>
</body>
</html>